*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: sans-serif;
    
}

.buttons 
{
    float: left;
    width: 25%;
    height: 14.28vh;
    background-color: #29293d;
    color: white;
    font-size: 3vw;
}

.buttons:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

.input
{
    font-size: 2vh;
}

.output
{
    font-size: 3vh;
    
}

.display 
{
    width: 100%;
    height: 7.14vh;
    background-color: #d1d1e0;
    text-align: right;
    padding-right: 2%;
    padding-top: 2%;
}